<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../style/style.css" rel="stylesheet" />
        <title>Cadastre-se</title>
    </head>
    <body>
        <header>
            <ul>
                <li>
                    <a id="loginLink" href="#">FAÇA LOGIN</a>
                </li>
                <li>
                    <a id="cadastroLink" href="cadastro">CADASTRE-SE</a>
                </li>
                <li>
                    <a id="infoLink" href="#">SUAS INFORMAÇÕES</a>
                </li>
            </ul>
        </header>
        <div id="view-container">
            <div id="cadastro-container">
                <h1>CADASTRE-SE</h1>
                <label for="nome">Digite seu nome</label>
                <br />
                <input
                    required
                    type="name"
                    placeholder="Nome"
                    name="nome"
                    id="nome"
                />

                <br />

                <label for="email">Digite seu email</label>
                <br />
                <input
                    required
                    type="email"
                    placeholder="Email"
                    name="email"
                    id="email"
                />

                <br />

                <label for="idade">Digite sua Idade</label>
                <br />
                <input
                    required
                    type="number"
                    placeholder="Idade"
                    name="idade"
                    id="idade"
                />

                <br />

                <label for="pais">Digite seu país</label>
                <br />
                <input
                    required
                    type="text"
                    placeholder="País"
                    name="pais"
                    id="pais"
                />

                <br />

                <label for="senha">Digite sua senha</label>
                <br />
                <input
                    required
                    type="password"
                    placeholder="Senha"
                    name="senha"
                    id="senha"
                />

                <br />

                <button id="submitCadastro">Enviar</button>

                <br />
            </div>
        </div>
        <script src="./script/script.js"></script>
    </body>
</html>
