<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="./style/style.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <script src="./script/script.js"></script>
        <div id="view-container">
            <div id="cadastro-container">
                <h1>Cadastre-se</h1>

                <br />

                <label for="nome">Digite seu nome</label>
                <br />
                <input type="name" placeholder="Nome" name="nome" id="nome" />

                <br />

                <label for="email">Digite seu email</label>
                <br />
                <input
                    type="email"
                    placeholder="Email"
                    name="email"
                    id="email"
                />

                <br />

                <label for="idade">Digite sua Idade</label>
                <br />
                <input
                    type="number"
                    placeholder="Idade"
                    name="idade"
                    id="idade"
                />

                <br />

                <label for="pais">Digite seu país</label>
                <br />
                <input type="text" placeholder="País" name="pais" id="pais" />

                <br />

                <label for="senha">Digite sua senha</label>
                <br />
                <input
                    type="password"
                    placeholder="Senha"
                    name="senha"
                    id="senha"
                />

                <br />

                <button type="submit" id="submitCadastro">Enviar</button>

                <br />

                <a href="#">Faça login</a>
            </div>
            <div id="login-container" hidden>
                <h1>Faça login</h1>

                <br />

                <label for="email">Digite seu email</label>
                <br />
                <input
                    type="email"
                    placeholder="Email"
                    name="email"
                    id="email"
                />

                <br />

                <label for="senha">Digite sua senha</label>
                <br />
                <input
                    type="password"
                    placeholder="Senha"
                    name="senha"
                    id="senha"
                />

                <br />

                <button type="button" id="submitLogin">Logar</button>

                <br />

                <a href="#">Faça seu cadastro</a>
            </div>

            <div id="info-container">
                <h1>Minhas Informações</h1>

                <br />

                <label for="nome">Seu nome</label>
                <br />
                <input type="name" placeholder="Nome" name="nome" id="nome" />

                <br />

                <label for="email">Seu email</label>
                <br />
                <input
                    type="email"
                    placeholder="Email"
                    name="email"
                    id="email"
                />

                <br />

                <label for="idade">Sua Idade</label>
                <br />
                <input
                    type="number"
                    placeholder="Idade"
                    name="idade"
                    id="idade"
                />

                <br />

                <label for="pais">Seu país</label>
                <br />
                <input type="text" placeholder="País" name="pais" id="pais" />

                <br />

                <label for="senha">Sua senha</label>
                <br />
                <input
                    type="password"
                    placeholder="Senha"
                    name="senha"
                    id="senha"
                />
            </div>
        </div>
    </body>
</html>
